#story {
    display: flex;
    align-items: top;
    position: relative;
    color: #fff;
    background: linear-gradient(black 0%, #333 100%) no-repeat;
}
#story .sectionTitle {
    position: absolute;
    left: 50px;
    top: calc(50% - 64px);
    z-index: 1;
    white-space: nowrap;
    margin: 50px 0 10px;
    font-size: 64px;
    text-transform: capitalize;
}
#story .slideShow {
    max-height: 100%;
}
#story > b {
    position: absolute;
    left: 50px;
    top: 425px;
    display: block;
    padding: 50px 0;
    z-index: 1;
    white-space: nowrap;
    font-weight: lighter;
    font-size: 0.95em;
}

/* 스토리2 */
#story2 {
    position: relative;
    background: linear-gradient(#333 0%, #666 100%) no-repeat;
    color: #fff;
    padding: 50px 0 50px 80px;
}
#story2 h3 {
    font-weight: lighter;
    letter-spacing: -0.05em;
}
#story2 > div:first-of-type {
    color: #ddd;
    line-height: 2;
    font-size: 14px;
}
#story2 > div:first-of-type p:first-of-type {
    font-size: 32px;
    letter-spacing: -0.1em;
    margin-bottom: 20px;
}
#story2 > div:last-of-type {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: #ddd;
    line-height: 2;
    font-weight: 900;
    letter-spacing: -0.1em;
    margin-top: 30px;
    position: relative;
}
#story2 .definition {
    text-align: left;
    padding-left: 20px;
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    border-left: 3px solid #888;
    color: #aaa;
}
.definition li {
    font-size: 14px;
}
.definition span {
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
}
#story2 > div:last-of-type img {
    width: 540px;
    position: absolute;
    right: 0;
    bottom: 0;
}