@charset "utf-8";
/* 초기화 */
* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: inherit; display: inline-block;}
ul, li {list-style: none;}
html {
    width: 100%;
    height: 100%;
}
body {
    color: #3b3b3b;
    font-size: 1em;
    font-family: 'bgBold',arial,helvetica,sans-serif;
    width: 100%;
    height: 100%;
}
#Wrap {
    width: 100%;
    min-width: 900px;
    height: 100%;
}

/* 사이드 메뉴 */
#sideMenu {
    position: fixed;
    width: 20%;
    min-width: 180px;
    background: #111;
    /* background: #fff; */
    height: 100%;
    color: #ccc;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    left: 0px;
    min-height: 600px;
    text-align: center;
}
#sideMenu h1 {
    margin-top: 50px;
    text-align: center;
}
#sideMenu h1 a {
    display: block;
    margin: 20px 0;
}
#sideMenu #gnb {
    width: 100%;
    padding: 10px 40px 0 10px;
    margin-top: 100px;
    text-align: right;
}
#sideMenu #gnb li {
    padding: 7px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform:capitalize;
    line-height: 2;
    letter-spacing: -0.05em;
}
#sideMenu #gnb li a:hover {
    color: #fff;
}
#sideMenu #gnb .depth {
    text-align: left;
    padding-left: 60px;
}
#sideMenu #gnb .depth li {
    padding: 8px 0;
    font-size: 12px;
    font-weight: bold;
    text-transform:capitalize;
    line-height: 1.5;
    letter-spacing: -0.05em;
}
/* 메인 content */
#container {
    float: right;
    width: 80%;
    height: 100%;
    min-height: 100%;
    max-width: 80%;
}
/* 메인비주얼 */
#container .mainVisualWrap {
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/blackhouse.png') center no-repeat;
}
.mainVisual > p {
    font-size: .8em;
    margin-top: 10px;
}

/* 섹션 */
#container section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 2s;
}


/* story */
/*
#story .content > .flow3 {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    color: #ddd;
    align-items: center;
    line-height: 2;
    font-weight: 900;
    letter-spacing: -0.1em;
}
.flow2 img, .flow3 img {
    width: 500px;
    height: 500px;
}
.flow3 .laws li {
    font-size: 13.8px;
}
.flow3 .laws {
    text-align: left;
    padding-left: 20px;
    margin-top: 50px;
    font-weight: normal;
    font-size: 16px;
    border-left: 3px solid #555;
    color: #454545;
}
 */

/* 섹션2 현황 */
#current {
    /* background: linear-gradient(#666 0%, #aaa 100%) no-repeat; */
    background-color: #efefef;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#current .statistics {
    width: 400px;
    height: 600px;
    margin-right: 70px;
    color: #000;
}
.statistics .sectionTitle {
    font-size: 1em;
    font-weight: 700;
}
.statistics #city {
    color: #000;
    font-size: 1.6em;
    line-height: 1.5;
    letter-spacing: -0.1em;
    font-weight: lighter;
}
.statistics .statisticsCon {
    margin-top: 50px;
    display: flex;
}
.statistics .statisticsCon .box:first-child {
    margin: 0 120px 0 10px;
}
.statistics .row:not(:nth-of-type(1)) {
    margin: 50px 0 15px 0;
}
.statistics .row:nth-of-type(1) {
    margin: 5px 0 0;
}
.statistics .statisticsCon .title {
    color: #111;
    line-height: 2;
    font-weight: 500;
    letter-spacing: -0.1em;
}
.statistics .number {
    color: #000;
    font-size: 1.3em;
    font-weight: 400;
}

/* 섹션3 활용 */
#application {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: initial;
}
